.container {
	padding : 5em;
	width: 50%;
    margin:auto; 
    background-color: gray;
}

button {
    padding: 1em;
    margin : 1.5em;
}

.total {
	font-size: 4em; 
     text-align: center; 
    background-color: red;
}

